if [ -f ~/.aliases-core ]; then
        . ~/.aliases-core
fi

alias pc="podman-compose"
alias p="podman"

# git
alias lg="lazygit"

# vi
alias vi="nvim"

# pnpm
alias pb="pnpm run build"

# rg
alias rgf='rg --files | rg'