# Pet
pe() {
  print -z $(pet search $*)
}

# sqlplus
alias sp="sqlplus"

# helium
alias h="helium"

alias dc="docker-compose"

alias c="ccat"

alias ns="npm start"

# purescript
alias sb="spago build"

alias nb="npm run build"
alias nt="npm run test"

# python
#alias pip=/usr/local/bin/pip3
#alias python=/usr/local/bin/python3

# k8s
alias k="kubectl"
alias compdef k="kubectl"

# vi
alias vi="nvim"

# bat
help() {
    "$@" --help 2>&1 | bathelp
}

# git
alias gst="git status"
alias lg="lazygit"
